---
import App from '../components/App';
import '../styles/global.css';
---

<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>CV Adapter</title>
</head>
<body>
<div class="app-container">
<h1>CV Generator</h1>
<App client:load />
</div>
</body>
</html>
